* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
/* added a text-shadow animation transition. not completely sure how it works */
  h1, h2, p, ul, ol, div {
    color: #ffffff;
  }

  #color-shadow-animation {
    animation: color-shift 3s ease-in-out infinite alternate;
  }

  @keyframes color-shift {
    100% { text-shadow: 6px 6px 12px rgb(108, 248, 101), 
      -6px -6px 12px rgb(255, 0, 0), 
      -8px -8px 16px rgb(248, 248, 109) } 
  } 

  #logo-img {
    width: 20vw;
  }

body {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
    background-color: #000000;
    height: 40rem;
}

main, #banner-wrapper, #palindrome-section, #faq-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#banner-wrapper {
  text-align: center;
}
#logo-span-one, #logo-span-two {
  animation: white-shift 3s ease-in-out infinite alternate;
}

@keyframes white-shift {
  100% { text-shadow: 6px -6px 12px white } 
} 

#logo-span-one {
  color:rgb(255, 0, 0);
}
#logo-span-two {
  color:rgb(108, 248, 101);
}

#palindrome-section {
  width: 60%;
  padding: 20px;
  border: solid white 3px;
  margin-bottom: 10px;
}

#faq-section {
  width: 60%;
  padding: 20px;
  border: solid white 3px;
}

.faq-para {
  text-align: center;
  margin-bottom: 10px;
}

.faq-list {
  font-weight: bolder;
  color: rgb(248, 248, 109);
}